@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

/* RESET CSS */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
button,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-decoration: none;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* END RESET CSS */

body {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
}

h1 {
	font-size: 32px;
	padding: 16px;
}

form#formCategories {
	display: flex;
	align-items: center;
	background-color: rgb(113, 164, 106);
	padding: 8px;
}

form#formCategories:hover {
	background-color: rgb(164, 239, 154);
}

button {
	cursor: pointer;
	display: flex;
	align-items: center;
	background-color: transparent;
}

button#delete {
	padding: 8px;
	width: 100%;
	background-color: red;
}

button#delete:hover {
	background-color: rgb(248, 123, 123);
}

select {
	display: inline;
	margin-left: 8px;
	padding: 4px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#jokes {
	width: 70vw;
}

.chuckJoke {
	font-family: 'Shadows Into Light', cursive;
	font-weight: 400;
	font-style: normal;
	font-size: 26px;
	margin-top: 8px;
	padding: 8px;
}

.chuckJoke:nth-child(odd) {
	background-color: rgb(61, 68, 112);
	color: #fff;
}

.chuckJoke:nth-child(even) {
	background-color: rgb(131, 188, 223);
}
